{{!< default}}
<div class="container">
	{{#unless @root.user.isAdmin}}
        <form method="post" class="row">
            <input type="hidden" name="action" value="topic.create"/>

            <div class="form-group">
                <label for="topic-title">Тема вопроса</label>
                <input class="form-control" type="text" id="topic-title" name="title" placeholder="Тема вопроса">
            </div>

            <div class="form-group">
                <label for="topic-content">Содержание</label>
                <textarea rows="6" class="form-control" id="topic-content" name="content" placeholder="Содержание"></textarea>
            </div>

            <input class="btn btn-default" type="submit" value="Сохранить">
        </form>
	{{/unless}}
	
	{{#if data.posts.results.length}}
        <div class="row">
			{{> pagination}}
        </div>
		{{#each data.posts.results}}
			<div class="row">
				<h4>{{title}}</h4>
				<h6>
					{{#if @root.user.isAdmin}}
                        Пользователь <b>{{author.login}}</b>:
					{{/if}}
					{{#date format='DD-MM-YYYY' }}updated{{/date}}
				</h6>
				
				<p>{{{content.html}}}</p>
                <a class="btn btn-default" href="/answer/{{id}}">Ответить/Комментировать</a>
			</div>
		{{/each}}
        <div class="row">
			{{> pagination}}
        </div>
	{{/if}}
</div>
